<section class="key-dates mt-16 px-4">
  <div class="text-xs max-w-lg mx-auto font-mono">
    <p><strong>Notes:</strong></p>
    <ul class="list-outside list-disc mt-2">
      <li class="ml-4">Data is pulled from <a target="_blank" class="text-indigo-400" href="https://www.asafenashville.org">Metro Nashville's Covid-19</a> response website.</li>
      <li class="mt-1 ml-4">Mayor John Cooper issued a "Safer At Home" Executive Order that went into effect on Monday, March 23rd.</li>
      <li class="mt-1 ml-4">Phase 1 of <a target="_blank" class="text-indigo-400" href="https://www.asafenashville.org/roadmap-for-reopening-nashville/">Nashville's re-opening plan</a> began on Monday, May 11th.</li>
      <li class="mt-1 ml-4">Phase 2 began on Monday, May 25th.</li>
    </ul>
  </div>
</section>

<h4 class="text-center text-sm uppercase font-semibold tracking-wider text-gray-500 mt-16 text-center">
  Total Cases
</h4>

<div class="py-8">
  <%=
      area_chart @county.updates.group(:date).sum(:total_cases),
      colors: ["#5A67D8"]
  %>
</div>

<h4 class="text-center text-sm uppercase font-semibold tracking-wider text-gray-500 mt-8 text-center">
  New Cases Per Day
</h4>

<div class="py-8">
  <%=
      area_chart @county.updates.group(:date).sum(:new_cases),
      colors: ["#ECC94B"]
  %>
</div>

<h4 class="text-center text-sm uppercase font-semibold tracking-wider text-gray-500 mt-8 text-center">
  Total Deaths
</h4>
<div class="py-8">
  <%=
      area_chart @county.updates.group(:date).sum(:total_deaths),
      colors: ["#dc3545"]
  %>
</div>

<h4 class="text-center text-sm uppercase font-semibold tracking-wider text-gray-500 mt-8 text-center">
  New Deaths Per Day
</h4>

<div class="py-8">
  <%=
      area_chart @county.updates.group(:date).sum(:new_deaths),
      colors: ["#ED8936"]
  %>
</div>
