<h1 class="text-center text-lg uppercase font-semibold tracking-widest text-indigo-500">
  Nashville, TN
</h1>

<h2 class="text-center text-sm uppercase font-semibold tracking-wider text-gray-500 mt-2">
  Covid-19 &bull; Daily Updates
</h2>

<h3 class="text-center text-xs uppercase font-semibold tracking-wider text-gray-400 mt-2">
  <%= Date.today.strftime("%A") %> &bull; <%= Date.today.strftime("%B %e, %Y") %>
</h3>

<p class="text-xs font-mono">Data is pulled from <a href="https://www.asafenashville.org" target="_blank">Metro Nashville's Covid-19</a> response website.</p>
<p><em>Mayor John Cooper issued a ‘Safer At Home’ Executive Order that went into effect on Monday, March 23rd.</em></p>
