<section class="max-w-lg mx-auto">
  <h1 class="uppercase font-semibold tracking-wider text-gray-400 text-xl">
    About This Project
  </h1>

  <p class="mt-2">This site was built and launched in just a few days by <a class="underline hover:text-indigo-400" href="https://stackoverflow.com/cv/leemcalilly">Lee McAlilly</a> of <a class="underline hover:text-indigo-400" href="https://www.mcalilly.com">McAlilly Creative Partners</a>, a web design & development agency in Nashville, TN. It remains a work in progress.
  <p class="mt-4">If you like what you see here, please consider <a class="underline hover:text-indigo-400" href="https://stackoverflow.com/cv/leemcalilly">hiring me</a> for your next web project, or at least recommending me to your friends the next time they need help with a website.</p>
  <h2 class="mb-2 mt-8 uppercase font-semibold tracking-wider text-gray-400">
    Don't See Your City?
  </h2>
  <p class="mt-2">
    <a href="https://github.com/leemcalilly/coronavirus">
      We'd love for you to <span class="underline hover:text-indigo-400">submit a pull request to our Github repository</span>, and help us improve the site!
    </a>
  </p>

  <h2 class="mt-8 uppercase font-semibold tracking-wider text-gray-400">
    Why Build This?
  </h2>
  <p class="mt-2">I made this because I've been waking up each day during the <a class="underline hover:text-indigo-400" href="https://twitter.com/search?q=%23coronapanic&src=typeahead_click">#coronapanic</a> and looking at the latest data on the <a class="underline hover:text-indigo-400" href="https://coronavirus.jhu.edu/map.html?mod=article_inline">Johns Hopkins coronavirus dashboard</a> followed by the <a class="underline hover:text-indigo-400" href="https://www.nytimes.com/interactive/2020/us/coronavirus-us-cases.html">NY Times' latest numbers</a> for Davidson County, TN, and more recently, <a class="underline hover:text-indigo-400 href="https://www.asafenashville.org">Metro Nashville's coronavirus website</a>.</p>

  <p class="mt-2">I've been frustrated because none of these sources gave me a sense of the growth rate in Nashville, which is the key metric to understand about how the virus is spreading. You would expect that tracking and visualizing the data for our city would be type of journalism that my local newspaper, <a class="underline hover:text-indigo-400" href="https://www.tennessean.com">The Tennessean</a>, would be doing for Nashville right now, but they are mostly regurgitating national headlines and linking to the Johns Hopkins global dashboard.</p>

  <p class="mt-2">Then I realized it wouldn't take that much effort to log this data daily for just one city. The City of Nashville is now posting their numbers to a website, <a class="underline hover:text-indigo-400" href="https://www.asafenashville.org">asafenashville.org</a>, which is what I'm using as the source data for Nashville. But, they are not providing any information on how the numbers are changing over time. If you'd like to do this in your community, please <a href="https://github.com/leemcalilly/coronavirus">submit a pull request to the github repository</a> and we can make this an open source project that is not specific to Nashville.</p>

  <h2 class="mt-8 uppercase font-semibold tracking-wider text-gray-400">
    Share Data, Not Coronavirus
  </h2>

  <p class="mt-2">It's important that we all understand the data that matters to stop this virus and <em>flatten the curve</em>. The key stats in our communities are not what the national media tends to highlight. We need more localized insight into how the virus is spreading. By sharing this dashboard with others we can give people a better understanding of what's happening with Covid-19.</p>
</section>
