<section class="max-w-lg mx-auto">
  <h1 class="uppercase font-semibold tracking-wider text-gray-400 text-xl">
    About This Project
  </h1>

  <p class="mt-2">
    I'm Lee&mdash;Founder of McAlilly Creative Partners (mcalilly.com). Covid-19 is a confusing disease. I built and launched this site on March 26th after seeing 10 days of Metro Nashville Covid-19 positive case numbers publicised without context of prior results. I believe viewing each day's covid data in the context of prior reports provides a clearer understanding of how our community is being impacted by the disease.
  </p>
  <p class="mt-2">
    <a href="https://mcalilly.com" class="underline hover:text-indigo-400">McAlilly Creative Partners</a> is a web and software development company based in Nashville, Tennessee. Consider hiring us for your next project ; )
  </p>
  <ul class="mt-2">
    <li>Work: <a href="https://mcalilly.com" class="underline hover:text-indigo-400">McAlilly.com</a></li>
    <li>Email: <a href="mailto:leemc@hey.com" class="underline hover:text-indigo-400">leemc@hey.com</a></li>
  </ul>

</section>
