<section class="max-w-lg mx-auto">
  <h1 class="uppercase font-bold tracking-wider text-gray-400 text-xl">
    City Dashboards
  </h1>

  <ul class="list-disc list-inside mt-4">
    <li>
      <a class="hover:text-orange-400" href="/nashville">
        Nashville, TN
      </a>
    </li>
  </ul>

  <h2 class="mb-2 mt-8 uppercase font-bold tracking-wider text-gray-400">
    Don't See Your City?
  </h2>

  <p class="mt-4"<a href="#"><span class="underline hover:text-orange-400"> Sign up here</span> to help build a dashboard for your community.</a></p>

  <h2 class="mb-2 mt-8 uppercase font-bold tracking-wider text-gray-400">
    How to Help
  </h2>

  <ol class="list-decimal list-inside mt-4">
    <li>
      <a href="#">
        <span class="underline hover:text-orange-400">Become a virus tracker</span> and help log daily data in your community.
      </a>
    </li>
    <li class="mt-2">
      <a href="#">
        <span class="underline hover:text-orange-400">Contribute</span> code to this site the <span class="underline hover:text-orange-400">Github repository</span>.
      </a>
    </li>
  </ol>
</section>
