<section class="max-w-lg mx-auto">
  <h1 class="uppercase font-semibold tracking-wider text-gray-400 text-xl">
    Get Involved
  </h1>
  <h2 class="mb-2 uppercase font-semibold tracking-wider text-gray-400">
    Help Track The Virus In Your Community
  </h2>

  <p>Let's be honest. We're stuck with Covid-19 for the rest of the year, at least. As we all try to muddle through and hopefully start getting back to work over the summer, it's going to be crucial for everyone to understand if the virus is growing (or slowing) in their local community.</p>

  <p class="mt-4">The raw daily numbers that are currently being provided by the CDC, state health departments, and municipalities don't give us context around what the trajectory of the virus is where we live. National and global numbers aren't very useful to our daily lives. The national media is focused on the national numbers, but our country is huge, and local newspapers are too broke to spend time doing in-depth journalism. Help us fill in the gaps.</p>

  <h2 class="mb-2 mt-8 uppercase font-semibold tracking-wider text-gray-400">
    Don't See Your City?
  </h2>

  <p class="mt-2">
    <a href="https://github.com/leemcalilly/coronavirus">
      We'd love for you to <span class="underline hover:text-indigo-400">fork our Github repository</span>, add your city, improve the site, and submit a pull request!
    </a>
  </p>

  <h2 class="mb-2 mt-8 uppercase font-semibold tracking-wider text-gray-400">
    Where to Find Good Data for Your City
  </h2>
  <p>The <a class="underline hover:text-indigo-400" href="https://github.com/CSSEGISandData/COVID-19">Github repo</a> that powers the <a class="underline hover:text-indigo-400" href="https://coronavirus.jhu.edu/map.html?mod=article_inline">Johns Hopkins CSSE Covid-19 dashboard</a> is the most comprehensive dataset we've found for this pandemic. They use a combination of automated and manual updates from a wide variety of trustworthy sources like the CDC and World Health Organization. Their numbers seem more or less accurate for Nashville, but we're scraping the daily updates from <a class="underline hover:text-indigo-400" href="https://www.asafenashville.org">Metro Nashville's Covid-19 website</a> as those seem even closer to the metal. If you can't find a trustworthy local data source like this, you won't go wrong scraping Johns Hopkins data by county <a class="underline hover:text-indigo-400" href="https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports">here</a>.
</section>
