<section class="max-w-lg mx-auto">
  <h1 class="uppercase font-semibold tracking-wider text-gray-400 text-xl">
    City Dashboards
  </h1>

  <ul class="list-disc list-inside mt-4">
    <li>
      <a class="hover:text-indigo-400" href="/nashville">
        Nashville, TN
      </a>
    </li>
  </ul>

  <h2 class="mb-2 mt-8 uppercase font-semibold tracking-wider text-gray-400">
    Don't See Your City?
  </h2>

  <p class="mt-4">
    <a href="https://github.com/leemcalilly/coronavirus">
      We'd love for you to <span class="underline hover:text-indigo-400">fork our Github repository</span>, add your city, improve the site, and submit a pull request!
    </a>
  </p>
</section>
