<div class="mx-auto">
  <%= render "marketing/nashville/intro" %>

  <%= render "marketing/nashville/today" %>

  <%= render "marketing/nashville/table" %>

  <p class="mt-4 text-gray-500 text-xs">Data is scraped from Metro Nashville's Covid-19 website, <a class="underline hover:text-indigo-400" href="https://www.asafenashville.org">asafenashville.org</a>. <em>Last updated on March 25th, 2020 at 10:23pm CST.</em></p>
</div>
