<div class="mx-auto">
  <%= render "marketing/nashville/intro" %>

  <%= render "marketing/nashville/today" %>

  <%= render "marketing/nashville/table" %>

  <div class="notes text-xs text-center text-gray-400 mt-8">
    <p class="text-gray-500 mt-4">
      <em>Last updated on April 3, 2020 at 9:41am CST.</em>
    </p>
    <p class="mt-2">
      <em>Data is pulled from Metro Nashville's Covid-19 website, <a class="underline hover:text-indigo-400" href="https://www.asafenashville.org">asafenashville.org</a>.</em>
    </p>
    <p>
      &#42;March 23, 2020 was the day Metro Nashville's <a class="underline hover:text-indigo-400" href="  https://www.asafenashville.org/wp-content/uploads/2020/03/Directors-Order-3-Safer-At-Home.pdf">"Safer at Home" order</a> took effect.
    </p>
  </div>
</div>
