<div class="mx-auto">
  <%= render "marketing/nashville/intro" %>

  <%= render "marketing/nashville/today" %>

  <%= render "marketing/nashville/table" %>

  <p class="text-xs text-center text-gray-500 mt-8">
    <em>Last updated on March 25th, 2020 at 11:47pm CST.</em>
  </p>
  <p class="mt-2 text-center text-gray-400 text-xs"><em>Data is pulled from Metro Nashville's Covid-19 website, <a class="underline hover:text-indigo-400" href="https://www.asafenashville.org">asafenashville.org</a>.</em></p>
  <p class="mt-4 text-center text-gray-400 text-xs">&#42;March 23, 2020 was the day Metro Nashville's <a class="underline hover:text-indigo-400" href="  https://www.asafenashville.org/wp-content/uploads/2020/03/Directors-Order-3-Safer-At-Home.pdf">"Safer at Home" order</a> took effect.</p>
</div>
