<h1>Covid615 has not yet been updated today.</h1>

<p>
  There's a problem and the site hasn't been updated today.
</p>

<ul>
  <li>
    <a href="https://app.timber.io/heroku-account-cf279ad7-d6e2-4451-8615-98f5a2004d17/logs/console?start=2020-07-06T01%3A52%3A01.869Z&apps=39490&view_type=console">
      View Logs
    </a>
  </li>

  <li>
    <a href="https://dashboard.heroku.com/apps/coronavirus-update-dashboard">
      Heroku Dashboard
    </a>
  </li>

  <li>
    <a href="https://github.com/mcalilly/coronavirus">
      Github Repo
    </a>
  </li>

  <li>
    <a href="https://covid615.com">
      Covid615.com
    </a>
  </li>

  <li>
    <a href="https://asafenashville.org">
      Metro Nashville's Website
    </a>
  </li>
</ul>
