<h1 class="text-center text-lg uppercase font-semibold tracking-widest text-indigo-400">
  Covid-19 &bull; Daily Updates<br>
  <span class="text-sm uppercase font-semibold tracking-wider text-gray-500">Nashville, TN</span>
</h1>
