<h1>Nashville, TN</h1>
<h2>Covid-19 Tracker</h2>

<p>Data is pulled from Metro Nashville's Covid-19 website, <a class="underline hover:text-orange-400" href="https://www.asafenashville.org">asafenashville.org</a>. (Scroll to the bottom of the homepage to the "Covid 19 Case Tracker" section.) Data is updated by the city each morning at 9:30am CST.</p>
