<div class="data-source text-xs text-center text-gray-400">
  <p class="text-gray-500 mt-4">
    <em>Last updated on <%= @current_update.updated_at.strftime("%B %e, %Y at %I:%M %p %Z") %></em>
  </p>
  <p class="mt-2">
    <em>Data is pulled from Metro Nashville's official Covid-19 website, <a class="underline hover:text-indigo-400" href="https://www.asafenashville.org">asafenashville.org</a>.</em>
  </p>
</div>
