<footer class="max-w-xl mx-auto px-4 sm:px-6 lg:px-8 mt-16">
  <h2 class="uppercase text-center font-semibold tracking-wider text-gray-400 mt-8">
    Made In Nashville
  </h2>
  <div class="mt-4 text-gray-500">
    <p class="mt-2">This site was built and launched in a day by <a class="underline hover:text-indigo-400" href="https://stackoverflow.com/cv/leemcalilly">Lee McAlilly</a> of <a class="underline hover:text-indigo-400" href="https://www.mcalilly.com">McAlilly Creative Partners</a>, a web design & develpment agency in Nashville, TN. It remains a work in progress.
    <p class="mt-4">If you like what you see here, please consider <a class="underline hover:text-indigo-400" href="https://stackoverflow.com/cv/leemcalilly">hiring me</a> for your next web project, or at least recommending me to your friends the next time they need help with a website.</p>
  </div>
</footer>
