<footer class="max-w-xl mx-auto text-center font-semibold uppercase tracking-widest text-xs text-gray-400 px-4 sm:px-6 lg:px-8 my-12">
  <p>Built by <a class="underline hover:text-indigo-400" href="https://www.mcalilly.com">McAlilly Creative</a></p>
</footer>
