<footer class="max-w-xl mx-auto text-center text-sm text-gray-400 px-4 sm:px-6 lg:px-8 mt-8">
  <p>Built by <a class="underline hover:text-indigo-400" href="https://www.mcalilly.com">McAlilly Creative</a></p>.
</footer>
