<footer class="max-w-xl mx-auto px-4 sm:px-6 lg:px-8 mt-12">
  <div class="bg-white shadow overflow-hidden sm:rounded-lg mt-8 px-6 py-6">
    <h2 class="uppercase font-semibold tracking-wider text-gray-400">
      Made In Nashville
    </h2>
    <div class="mt-4 text-gray-700">
      <p class="mt-2">This site was built and launched in a day by <a class="underline hover:text-indigo-400" href="https://stackoverflow.com/cv/leemcalilly">Lee McAlilly</a> of <a class="underline hover:text-indigo-400" href="https://www.mcalilly.com">McAlilly Creative Partners</a>, a web design & develpment agency in Nashville, TN. It remains a work in progress.
      <p class="mt-4">If you like what you see here, please consider <a class="underline hover:text-indigo-400" href="https://stackoverflow.com/cv/leemcalilly">hiring me</a> for your next web project, or at least recommending me to your friends the next time they need help with a website.</p>
    </div>
  </div>

  <div class="text-xs text-gray-400 my-12">
    <h4 class="mb-4 uppercase font-semibold tracking-widest text-gray-400">Disclaimer</h4>
    <p>This site was built by <a href="https://stackoverflow.com/cv/leemcalilly">Lee McAlilly</a>, owner of web design &amp; development agency <a href="https://www.mcalilly.com">McAlilly Creative, LLC</a>. I'm not a doctor or public health expert. This is citizen journalism compiled out of a desire to better understand Covid-19 in my community. Rather than keep it in a private spreadsheet, I figured that I should share it to the extent it is interesting to someone else. I am also not a lawyer, so I have no way of knowing if this disclaimer is even written in a way that it's legally useful. But I'll try to say this in plain language. Nothing on this website should be considered advice of any kind, or any sort of health recommendation. By reading or using anything found on this website you agree not to hold Lee McAlilly or McAlilly Creative, LLC or any other person, organization, or company referenced liable for anything that results in the use of the website and anything it contains. This site was made for informational and journalistic purposes by an untrained citizen out of the goodness of his heart for fellow citizens. I've done my best to be rigorous and transparent with the data and the sources of that data, but this website should be used at your own risk.</p>
  </div>
</footer>
