<section class="notes mt-16 px-4">
  <div class="text-xs max-w-lg mx-auto font-mono">
    <p><strong>Key Dates:</strong></p>
    <ul class="list-outside list-disc mt-2">
      <li class="mt-1 ml-4">Mayor John Cooper issued a "Safer At Home" Executive Order that went into effect on Monday, March 23rd.</li>
      <li class="mt-1 ml-4">Phase 1 of <a target="_blank" class="text-indigo-400" href="https://www.asafenashville.org/roadmap-for-reopening-nashville/">Nashville's re-opening plan</a> began on Monday, May 11th.</li>
      <li class="mt-1 ml-4">Phase 2 began on Monday, May 25th.</li>
      <li class="mt-1 ml-4">Phase 3 began on Monday, June 22nd.</li>
      <li class="mt-1 ml-4">A rollback to "Modified Phase 2" began on Friday, July 3rd.</li>
      <li class="mt-1 ml-4">Additional "modifications" to Phase 2 went into effect on September 1.</li>
      <li class="mt-1 ml-4">On Thursday, October 1, Nashville began Phase Three</li>
    </ul>
  </div>
</section>
